.burger_constructor {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: end;
}

.order_list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.order_cost svg {
    width: 33px;
    height: 33px;
    object-position: center;
}

.scroll {
    min-height: 0;
    max-height: 464px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    gap: 16px;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}
