.list {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 272px);
    grid-auto-rows: 208px;
    column-gap: 24px;
    row-gap: 32px;
} 

.scroll_left {
    height: 664px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .scroll_left::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
  }
  
  .scroll_left::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }