.text {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    max-width: 480px;
}

.scroll {
    margin: 44px 0 0 0;
    padding: 0 8px 0 0;
    display: grid;
    gap: 16px;
    grid-auto-rows: max-content;
    height: 664px;
    overflow-y: auto;
    list-style-type: none;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.scroll article {
    padding-top: 22px;
    padding-left: 16px;
    width: 808px;
}
