.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C21;
    max-width: 1920px;
    min-height: 88px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 290px 1fr;
    align-items: center;
    width: 1280px;
    justify-content: space-between;
}

.columns {
    display: grid;
    grid-template-columns: 178px 197px;
    grid-template-rows: 56px;
    gap: 8px;
}

.link {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    text-decoration: none;
    align-content: center;
    color: #F2F2F3;
}

.personal_account {
    display: grid;
    grid-template-columns: 207px;
    grid-template-rows: 56px;
    justify-content: end;
}